html {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   margin: 2px 1em 1em 1em;
}

a:link {
   color: #c6940d;
}

a:visited {
   color: #01674f;
}

a:active {
   color: #b18906;
}

a:hover {
   color: #b18906;
}

form.search {
   margin-top: 1em;
}

form.search input {
   border: 2px solid #01684d;
   margin-left: 1ex;
}

#header {
   border-bottom: 2px solid #01684d;
   min-height: 100px;
}

#header div {
   padding-top: 0.5em;
}

#content {
   background-color: white;
   background-color: white;
}

#footer {
   background-color: white;
   border-top: 2px solid #01684d;
   padding-top: 0.5em;
   margin-top: 1.5em;
}
